<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
        div{
            background-color: rgba(0, 0, 0, .03);
            padding: 20px;
            border-radius: 20px;
        }
        h2{
            margin-top: 0;
        }
    </style>
</head>
<body>
    <h1>Profile page:</h1>
    <div>
        <img src="https://api.dicebear.com/6.x/bottts/png?seed=<%- name %>" alt="<%- name %>" width="128" height="128">
        <h2><%- name %></h2>
        <p><%- email %></p>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>